.resources {
  width: 50%;
  position: absolute;
  height: 100%;
  padding-right: 10%;
  left: 40%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#resource {
  width: 100%;
  position: relative;
}
#resource .content {
  position: absolute;
  top: 170px;
}
